nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgb(37, 137, 170);
    height: 20px;
    
}

nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
}

img {
    margin: 0px auto;
    display: block
}

.forjustify{
    text-align: justify;
}